/* Web Media Player by SamuelLouf (https://samuellouf.github.io/WebMediaPlayer) | v.1.0.0 */

/* Basic Dark */

body{
  background-color: #555555;
  color: white;
  transition-duration: 1s;
}

/* Context menu (right-click menu) */
.cm_container ul{
  background-color: #2d2d2d;
  box-shadow: 0 0 5px #000000;
}

.cm_container li{
  color: #ccc;
}

.cm_container li:hover{
  background-color: #242424;
}

.cm_container li.cm_divider{
  border-bottom: 1px solid #aaa;
}

.cm_container li[disabled=""]{
  color: #777;
}

div.controls {
  background-color: #f5f5f580;
}

div.audio.fake h1{
  background-color: #f0efef;
  color: rgb(0, 60, 255);
}

div.loading {
  background-color: black;
  color: white;
}

div.loading div.content{
  color: white;
}

div.filename {
  color: white;
}

:root {
  --button-color: #ddd;
}

.speed-dropdown button:hover {
  background-color: #d3e8ff;
}

:root {
  --select-border: #777;
  --select-focus: blue;
}

/* Apps Window */
.appwindow {
  background-color: #777;
  border: 1px solid #555;
}

.appwindowheader {
  background-color: #555;
  color: #ffffff;
}

.appwindow select {
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.appwindow select[disabled] {
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}
.appwindow {
  background-color: #777;
}

.appwindow .appwindowheader {
  background-color: #323232;
}

.appwindow .resizer{
  color: #777;
}

/* Player */
path.w, text.w{
  fill: white;
}

path.ww, text.ww{
  stroke: white;
}

g.w{
  stroke: white;
}

/* Buttons */
[poseas="button"]{
  background-color: #646464;
  border: #bcbcbc solid 2px;
}

[poseas="button"]:hover{
  background-color: #6a9acf;
  border: #4a7db3 solid 2px;
}

[poseas="button"]:active{
  background-color: #b5bfe7;
  border: #2559b3 solid 2px;
}