/* Web Media Player by SamuelLouf (https://samuellouf.github.io/WebMediaPlayer) | v.1.0.0 */

/* Basic Light */

body{
  background-color: #cecbcb;
  color: black;
  transition-duration: 1s;
}

/* Context menu (right-click menu) */
.cm_container ul{
  background-color: #dbdbdb;
  box-shadow: 0 0 5px #626262;
}

.cm_container li:hover{
  background-color: #b0b0b0;
}

.cm_container li.cm_divider{
  border-bottom: 1px solid #aaa;
}

.cm_container li[disabled=""]{
  color: #777;
}

div.controls {
  background-color: #f5f5f580;
}

div.audio.fake h1{
  background-color: #f0efef;
  color: rgb(0, 60, 255);
}

div.loading {
  background-color: black;
  color: white;
}

div.loading div.content{
  color: white;
}

div.filename {
  color: white;
}

:root {
  --button-color: #ddd;
}

.speed-dropdown button:hover {
  background-color: #d3e8ff;
}

:root {
  --select-border: #777;
  --select-focus: blue;
}

/* Apps windows */
.appwindow {
  background-color: #efefef;
  border: 1px solid #d3d3d3;
}

.appwindowheader {
  background-color: #dcdcdc;
  color: #ffffff;
}

.appwindow .resizer{
  color: #efefef;
}

.appwindow select {
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.appwindow select[disabled] {
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

/* Player */
path.w, text.w{
  fill: black;
}

path.ww, text.ww{
  stroke: black;
}

g.w{
  stroke: black;
}

/* Buttons */
[poseas="button"]{
  background-color: #f0f0f0;
  border: #bcbcbc solid 2px;
}

[poseas="button"]:hover{
  background-color: #d3e8ff;
  border: #4a7db3 solid 2px;
}

[poseas="button"]:active{
  background-color: #b5bfe7;
  border: #2559b3 solid 2px;
}