:root {
  --color: black;
  --background-color: #cecbcb;
  --context-menu: #777777;
  --context-menu-shadow: #626262;
  --context-menu-hovered: #242424;
  --context-menu-divider: #aaa;
  --context-menu-disabled: #777;
  --controls: #7d7d7d80;
  --audio-background-color: #f0efef;
  --audio-color: #003cff;
  --button-color: #ddd;
  --select-border: #777;
  --select-focus: blue;
  --loading-background-color: black;
  --loading-color: white;
  --filename-color: white;
  --speed-dropdown-background-color: #d3e8ff;
  --appwindow-color: #fff;
  --appwindow-backgroud-color: #777;
  --appwindow-border: #555;
  --appwindow-header-background-color: #323232;
  --appwindow-header-color: white;
  --select-background-color: #fff;
  --select-background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  --select-disabled-background-color: #eee;
  --select-disabled-background-image: linear-gradient(to top, #ddd, #eee 33%);
  --player-icons-colors: white;
  --button-bg: #646464;
  --button-border: #bcbcbc;
  --hover-button-bg: #6a9acf;
  --hover-button-border: #4a7db3;
  --active-button-bg: #b5bfe7;
  --active-button-border: #2559b3;
  --exit-fullscreen-float-bg: #000000bc;
  --exit-fullscreen-float-color: white;
  --trackpopup-button-bg: cornflowerblue;
  --trackpopup-button-color: white;
  --speed-dropdown-shadow: rgba(0, 0, 0, 0.1);
  --cc-menu-slider-bg: #ccc;
  --cc-menu-slider-before: white;
  --cc-menu-bg: #606060;
  --cc-menu-input-slider: #2196f3;
  --close-button: red;
  --tracks-bg: #000000a4;
  --cc-menu-shadow: rgba(0, 0, 0, 0.1);
  --table-border: rgb(140 140 140);
  --thead-bg: rgb(228 240 245);
  --td-border: rgb(160 160 160);
  --button-color: #ddd;
  --select-border: #777;
  --select-focus: blue;
  --focus-outline: black;
  --accent-color: none;
  --tracks-popup-bg: #4a7db3;
  --loading-spinner-color: #4285f4;
}
