:root{
  --color: black;
  --background-color: #ff6a00;
  --context-menu: #ff8400;
  --context-menu-shadow: #d47100;
  --context-menu-hovered: #be5900;
  --context-menu-divider: #a96300;
  --context-menu-disabled: #632e02;
  --controls: #f5f5f580;
  --audio-background-color: #f0efef;
  --audio-color: #ff9600;
  --loading-background-color: black;
  --loading-color: white;
  --filename-color: white;
  --speed-dropdown-background-color: #f5f5f5;
  --appwindow-color: #fff;
  --appwindow-backgroud-color: #ed6700;
  --appwindow-border: #d45100;
  --appwindow-header-background-color: #dd6700;
  --select-background-color: #ff9600;
  --select-background-image: linear-gradient(to top, #ff9600, #ff7100 33%);
  --select-disabled-background-color: #eee;
  --select-disabled-background-image: linear-gradient(to top, #ddd, #eee 33%);
  --player-icons-colors: black;
  --button-bg: #ee9300;
  --button-border: #b25c00;
  --hover-button-bg: #ffeed3;
  --hover-button-border: #b3904a;
  --active-button-bg: #e7d6b5;
  --active-button-border: #b36e25;
  --exit-fullscreen-float-bg: #000000bc;
  --exit-fullscreen-float-color: white;
  --trackpopup-button-bg: orange;
  --trackpopup-button-color: white;
  --speed-dropdown-shadow: rgba(0, 0, 0, 0.1);
  --cc-menu-slider-bg: #ccc;
  --cc-menu-slider-before: white;
  --cc-menu-bg: #f5f5f5;
  --cc-menu-input-slider: orange;
  --close-button: red;
  --tracks-bg: #000000a4;
  --cc-menu-shadow: rgba(0, 0, 0, 0.1);
  --table-border: rgb(140 140 140);
  --thead-bg: rgb(228 240 245);
  --td-border: rgb(160 160 160);
  --speed-dropdown-bg:#d3e8ff;
  --button-color: #ddd;
  --select-border: #777;
  --select-focus: orange;
  --focus-outline: var(--accent-color);
  --accent-color: orange;
  --tracks-popup-bg: #b25c00;
}