body{
  background-color: #ff6a00;
  color: black;
  transition-duration: 1s;
}

/* Context menu (right-click menu) */
.cm_container ul{
  background-color: #ff8400;
  box-shadow: 0 0 5px #d47100;
}

.cm_container li:hover{
  background-color: #be5900;
}

.cm_container li.cm_divider{
  border-bottom: 1px solid #a96300;
}

.cm_container li[disabled=""]{
  color: #632e02;
}

div.controls {
  background-color: #f5f5f580;
}

div.audio.fake h1{
  background-color: #f0efef;
  color: rgb(0, 60, 255);
}

div.loading {
  background-color: black;
  color: white;
}

div.loading div.content{
  color: white;
}

div.filename {
  color: white;
}

:root {
  --button-color: #ddd;
}

.speed-dropdown button:hover {
  background-color: #d3e8ff;
}

:root {
  --select-border: #777;
  --select-focus: blue;
}

/* Apps Window */
.appwindow {
  background-color: #ed6700;
  border: 1px solid #d45100;
}

.appwindowheader {
  background-color: #dd6700;
  color: #ffffff;
}

.appwindow select {
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.appwindow select[disabled] {
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

.appwindow .resizer{
  color: #ef7000;
}

.appwindow {
  background-color: #ef7000;
}

.appwindow .appwindowheader {
  background-color: #d76100;
}

/* Player */
path.w, text.w{
  fill: black;
}

path.ww, text.ww{
  stroke: black;
}

g.w{
  stroke: black;
}

/* Buttons */
[poseas="button"]{
  background-color: #ee9300;
  border: #b25c00 solid 2px;
}

[poseas="button"]:hover{
  background-color: #ffeed3;
  border: #b3904a solid 2px;
}

[poseas="button"]:active{
  background-color: #e7d6b5;
  border: #b36e25 solid 2px;
}